lab*/obj
qemu
.vscode
lab*/jos.in
lab*/jos.log
lab*/jos.out
lab*/jos.out.*
lab*/jos.cmd
lab*/.gdbinit
lab*/wget.log
lab*/qemu.pcap
lab*/qemu.pcap.*
lab*/qemu.out
lab*/qemu.log
lab*/gradelib.pyc
lab*/lab*-handin.tar.gz
lab*/sol?/
lab*/myapi.key
lab*/.suf
xv6*/*.o
xv6*/*.out
xv6*/*.d
xv6*/*.asm
xv6*/*.sym
xv6*/_*
xv6*/*.img

